#cont1{
    display: inline;
    
}


#cover {
    width: 20%;
    padding: 1%;
    margin: 1%;
}

#title{
    margin-top: 2%;
    padding: 2%;
}

#albums{
    padding: 2%;
}
#premios{
    margin-top: 2%;
}
#premio{
    margin-bottom: 2%;

}

body {
    background-image: url("../images/backg.png");
    color:white;
   }

h2{
    text-transform: uppercase;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}